// variables section
$montserrat: 'Montserrat', serif // Montserrat font-family
$primary-font-size: 16px // Body font-size
$primary-color: #000000 // Primary color
$white-color: #FFFFFF // White color
$black-color: #182B34
$dark-color: #273A43
$light-color: #7F96A0
$super-light-color: #C7D4DB
$red-color: #F93C00
$orange-color: #FF6B3D
$grey-color: #e5e5e5
$light-blue-color: #D7F3FF

// common document styles
body
    position: relative
    overflow-x: hidden
    font-family: $montserrat
    line-height: 1.2
    color: $super-light-color
    background: $dark-color

ul,
ol,
li
    display: block
    padding: 0
    margin: 0
    list-style: none

h1, h2, h3, h4, h5, h6
    margin: 0
    font-weight: 300

p
    margin: 0

a
    display: inline-block
    color: inherit
    transition: all 0.4s
    &:hover
        color: inherit
        text-decoration: none

img
    max-width: 100%

svg path,
    transition: fill 0.4s, stroke 0.4s

// common for pages
.scroll-disabled
    overflow: hidden

.container
    margin: 0 auto
    width: 100%

.btn
    display: block
    padding: 0
    width: 100%
    padding: 22px 42px
    min-width: fit-content
    font-size: 24px
    font-weight: 500
    letter-spacing: 0.5em
    text-align: center
    color: $super-light-color
    background: transparent
    border: 1px solid $super-light-color
    border-radius: 10px
    transition: all 0.4s
    &:focus
        outline: none
    &:hover:not([disabled]),
    &:focus
        color: $red-color
        border: 1px solid $red-color

.btn[disabled]
    opacity: 0.5

.input
    padding: 21px 24px
    font-size: 20px
    font-weight: normal
    color: $dark-color
    background: rgba($white-color, 0.15)
    border: 3px solid transparent
    border-radius: 10px
    transition: all 0.4s
    &::placeholder
        color: $super-light-color
        transition: all 0.4s
    &:hover
        background: rgba($white-color, 0.2)
    &:focus
        outline: none
        background: rgba($white-color, 0.8)
        &::placeholder
            color: $dark-color
    &--error
        color: $orange-color
        background: rgba($white-color, 0.8)
        border: 3px solid $orange-color
        &:hover
            background: rgba($white-color, 0.8)

.square-checkbox
    display: flex
    align-items: center
    margin: 0
    cursor: pointer
    &:hover
        .square-checkbox__icon
            background-color: rgba($white-color, 0.3)
    &__input
        display: none
        &:checked ~ .square-checkbox__icon
            background-color: rgba($white-color, 0.6)
            background-image: url(../img/dist/sprite.svg#icon-checkbox-mark)
            transition: background 0s
    &__icon
        display: block
        margin-right: 20px
        min-width: 33px
        min-height: 33px
        max-width: 33px
        max-height: 33px
        background-color: rgba($white-color, 0.2)
        background-repeat: no-repeat
        background-size: 18px
        background-position: center center
        border-radius: 10px
        transition: background 0.3s
    &__label
        display: block
        font-size: 20px
        font-weight: 300
        text-align: left
        color: $super-light-color
        user-select: none

.arrow-down
    display: block
    padding: 0
    width: 44px
    height: 44px
    background-image: url(../img/dist/sprite.svg#arrow-down)
    background-repeat: no-repeat
    background-size: 20px
    background-position: center center
    &:hover
        opacity: 0.7

.go-to
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 67px
    &--margin
        margin-top: 170px
    &__arrow
        display: flex
        align-items: center
        font-size: 25px
        line-height: 150%
        color: $red-color
        & > span + svg,
        & > svg + span
            margin-left: 12px
        &:hover
            color: $orange-color
            & > svg path
                stroke: $orange-color

// media
@media (min-width: 1750px)
    .container
        max-width: 1380px
    .btn
        max-width: 544px

@media (min-width: 1280px) and (max-width: 1749px)
    .container
        max-width: 1130px

@media (min-width: 1024px) and (max-width: 1749px)
    .btn
        max-width: 491px

@media (min-width: 1024px) and (max-width: 1279px)
    .container
        max-width: 950px

@media (max-width: 1023px)
    .btn
        padding: 20px
        max-width: 360px
        font-size: 20px

@media (min-width: 768px) and (max-width: 1023px)
    .container
        padding: 0 40px
        max-width: 100%
    .go-to
        &__arrow
            font-size: 20px
            & > svg
                width: 24px
                height: 24px

@media (max-width: 767px)
    .container
        padding: 0 25px
        max-width: 100%
    .go-to
        &__arrow
            font-size: 16px
            & > svg
                width: 16px
                height: 16px

@media (max-width: 575px)
    .btn
        max-width: 100%