.gallery
    width: 700px
    .gallery-main
        position: relative
        overflow: hidden
        width: 100%
        height: 437px
        &:hover
            .gallery
                &__buttons
                    .swiper-button-prev,
                    .swiper-button-next
                        opacity: 1
        .swiper-slide img
            width: 100%
            height: 100%
            object-fit: cover
    .gallery-thumbs
        overflow: hidden
        margin-top: 42px
        width: 100%
        height: 77px
    .gallery-thumbs .swiper-slide
        width: 108px
        height: 77px
        border: 1px solid transparent
        cursor: pointer
        transition: border 0.2s
    .gallery-thumbs .swiper-slide-thumb-active
        border: 1px solid $red-color
    .swiper-img
        position: relative
        overflow: hidden
        img
            width: 108px
            height: 75px
            object-fit: cover

.gallery
    &--houses
        .gallery-main
            height: 700px
        .gallery-thumbs
            height: 110px
        .gallery-thumbs .swiper-slide
            height: 110px
        .swiper-img
            img
                height: 108px

.gallery
    &__buttons
        .swiper-button-prev,
        .swiper-button-next
            position: absolute
            top: 0
            bottom: 0
            z-index: 1
            display: block
            padding: 0
            width: 15%
            height: 100%
            opacity: 0
            background: rgba(#273A43, 0.6)
            border: 0
            transition: all 0.4s
        .swiper-button-prev
            left: 0
        .swiper-button-next
            right: 0

// fancybox
.fancybox__container
    --fancybox-thumbs-width: 120px
    --carousel-button-width: 77px
    --carousel-button-height: 77px

.fancybox__slide
    padding: 70px 140px

.fancybox__content
    max-width: 100%!important

//.fancybox__thumbs
//    margin-bottom: 30px

//.fancybox-thumbs
//    top: auto
//    width: auto
//    bottom: 0
//    left: 0
//    right: 0
//    height: 95px
//    padding: 10px 10px 5px 10px

//.fancybox__thumb
//    border-radius: 18px

//.fancybox__thumbs .carousel__slide
//    overflow: hidden
//    padding: 0

//.fancybox__thumbs .carousel__slide + .carousel__slide
//    margin-left: 15px

.fancybox__thumbs .carousel__slide.is-nav-selected::after
    display: none
    //right: 0
    //bottom: 0
    //left: 0
    //border-bottom: none
    //border: 1px solid $red-color
    //border-radius: 18px

.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb
    border: 1px solid $red-color

//.carousel__track
    //justify-content: space-between
//    margin: 0 50px
//    transform: none!important

.carousel__button
    background-repeat: no-repeat
    background-size: 80%
    background-position: center center
    & > *
        display: none

.carousel__button.is-next
    right: 80px
    background-image: url(../img/dist/sprite.svg#arrow-right-red)

.carousel__button.is-prev
    left: 80px
    background-image: url(../img/dist/sprite.svg#arrow-left-red)

.carousel__button.is-close
    top: 10%
    right: 40px
    background-image: url(../img/dist/sprite.svg#icon-close-red)
    &:focus-visible
        outline: none

.fancybox__thumbs .carousel__slide
    padding: 12px 15px

.carousel__slide .fancybox__thumb
    border: 1px solid transparent

.fancybox-thumbs
    top: auto
    width: auto
    bottom: 0
    left: 0
    right: 0
    height: 95px
    padding: 10px 10px 0 10px
    box-sizing: border-box
    background: rgba(0, 0, 0, 0.3)

//.fancybox-show-thumbs .fancybox-inner
//    right: 0
//    bottom: 95px
//    overflow: visible

// media
@media (hover: hover)
    .gallery-thumbs .swiper-slide
        &:hover
            border: 1px solid $red-color

@media (min-width: 1280px) and (max-width: 1749px)
    //.fancybox__container
    //    --fancybox-thumbs-width: 98px

@media (min-width: 1024px) and (max-width: 1279px)
    .gallery
        width: 540px
        .gallery-main
            height: 336px
        .gallery-thumbs
            margin-top: 35px
    .gallery
        &--houses
            .gallery-main
                height: 540px
            .gallery-thumbs
                height: 101px
            .gallery-thumbs .swiper-slide
                height: 101px
            .swiper-img
                img
                    height: 99px
    .fancybox__container
        //--fancybox-thumbs-width: 82px
        --carousel-button-width: 50px
        --carousel-button-height: 50px

@media (min-width: 768px) and (max-width: 1023px)
    .gallery
        width: 404px
        .gallery-main
            height: 252px
        .gallery-thumbs
            margin-top: 32px
            height: 65px
        .gallery-thumbs .swiper-slide
            width: 95px
            height: 65px
        .swiper-img
            img
                width: 95px
                height: 63px
    .gallery
        &--houses
            .gallery-main
                height: 404px
            .gallery-thumbs
                height: 95px
            .gallery-thumbs .swiper-slide
                height: 95px
            .swiper-img
                img
                    height: 93px
    .fancybox__container
        //--fancybox-thumbs-width: 62px
        --carousel-button-width: 56px
        --carousel-button-height: 56px
    .fancybox__slide
        padding: 90px 120px 70px
    .fancybox__thumbs .carousel__slide
        margin: 0 8px
    .carousel__button.is-close
        right: 8px
    .fancybox__slide
        padding: 60px 100px

@media (max-width: 767px)
    .fancybox__slide
        padding: 30px 60px
    .fancybox__thumbs .carousel__slide
        padding: 6px 5px
        //flex: 0 0 44px
        //width: 44px
    .fancybox__container
        --fancybox-thumbs-width: 90px
        --carousel-button-width: 44px
        --carousel-button-height: 44px
    .fancybox__thumb,
    .fancybox__thumbs .carousel__slide.is-nav-selected::after
        border-radius: 6px
    .carousel__button.is-close
        right: 8px
    //.carousel__slide
    //    max-width: 44px
    //.carousel__track
    //    margin: 0 12px
    //.fancybox-thumbs
    //    top: auto
    //    width: auto
    //    bottom: 0
    //    left: 0
    //    right: 0
    //    height: 95px
    //    padding: 10px 10px 5px 10px
    //    box-sizing: border-box
    //.carousel__viewport
    //    overflow-x: auto
    //    max-width: 100%
    //.carousel__track
    //    overflow-x: visible
    //    margin: 0
    //    max-width: 100%
    //    overflow-x: auto!important
    //.carousel__slide
    //    flex-grow: 1
    //    flex-basis: 0

@media (min-width: 576px) and (max-width: 767px)
    .gallery
        width: 100%
        .gallery-main
            height: 400px
        .gallery-thumbs
            margin-top: 24px
            height: 66px
        .gallery-thumbs .swiper-slide
            width: 100%
            height: 66px
        .swiper-img
            img
                width: 100%
                height: 64px
    .gallery
        &--houses
            .gallery-main
                height: auto
            .gallery-thumbs
                height: 98px
            .gallery-thumbs .swiper-slide
                height: 98px
            .swiper-img
                img
                    height: 96px
    .fancybox__slide
        padding: 70px 60px 60px
    .fancybox__slide
        padding: 90px 120px 70px
    .fancybox__thumbs .carousel__slide
        margin: 0 8px

@media (max-width: 575px)
    .gallery
        width: 100%
        .gallery-main
            height: 210px
        .gallery-thumbs
            margin-top: 20px
            height: 50px
        .gallery-thumbs .swiper-slide
            width: 100%
            height: 50px
        .swiper-img
            img
                width: 100%
                height: 48px
    .gallery
        &--houses
            .gallery-main
                height: auto
            .gallery-thumbs
                height: 100%
            .gallery-thumbs .swiper-slide
                height: 100%
            .swiper-img
                img
                    height: 100%