@media (hover: hover)
    .rivers
        &__dot
            &:hover
                & > span
                    color: $red-color
                    opacity: 1
                    &::after
                        background: transparent
                    &::before
                        border: 1px solid transparent
                & > svg
                    opacity: 1

@media (min-width: 1750px)
    .about
        margin-top: 66px
        &__description
            max-width: 700px
        &__img
            max-width: 583px
    .location
        &__content
            max-width: 674px
    .partners
        margin-right: 120px
        margin-left: 120px
    .media
        margin-top: 100px
        margin-right: 100px
        margin-left: 100px
        &--md
            .media__item
                &:nth-child(n + 4)
                    margin-top: 50px
    .information
        margin-top: 84px
        &__list
            max-width: 445px
        &__content
            margin-left: 76px
    .rivers
        &__body
            max-width: 513px
        &__item
            width: 1380px

@media (max-width: 1749px)
    .contacts
        &__wrapper
            max-width: 50%
            &:nth-child(2n)
                margin-left: 0

@media (min-width: 1280px) and (max-width: 1749px)
    .about
        &__description
            max-width: 555px
        &__img
            max-width: 518px
    .location
        &__content
            max-width: 494px
        &__img
            max-width: 528px
    .history
        &__item:not(:last-child)
            &::after
                height: calc(100% + 70px)
        &__item + &__item
            margin-top: 70px
    .team
        &__item
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 88px
    .media
        margin-top: 68px
        margin-right: 30px
        margin-left: 30px
        &--md
            .media__item
                &:nth-child(n + 4)
                    margin-top: 48px
        &__item
            min-height: 220px
        &__text
            max-height: 52px
            font-size: 22px
    .information
        margin-top: 50px
        &__list
            max-width: 422px
        &__content
            margin-left: 56px
    .tabs
        &__wrapper
            & > p
                max-width: 313px
    .rivers
        &__body
            max-width: 628px
        &__item
            width: 1130px
            &--olenka
                top: 215px
                & > .rivers__dot
                    margin-left: 170px
                    span
                        margin-left: 0
            &--lumbovka
                & > .rivers__dot
                    margin-left: 355px
            &--kachkovka
                top: 520px
                & > .rivers__dot
                    margin-left: 360px

@media (min-width: 1024px) and (max-width: 1749px)
    .about  
        margin-top: 50px
    .contacts
        &__title
            font-size: 26px
        &__elem
            font-size: 22px
    .navigation-blocks
        margin: 80px 32px 0
        &__item
            min-height: 320px
    .partners
        margin-right: 60px
        &__description
            margin-left: 62px

@media (max-width: 1279px)
    .location
        &__wrapper
            flex-direction: column
        &__content
            max-width: 100%
        &__img
            margin: 0 auto
            max-width: 100%

@media (min-width: 1024px) and (max-width: 1279px)
    .offer
        &--start
            padding-bottom: 100px
        &__title
            font-size: 48px
        &__description
            margin-top: 54px
            max-width: 462px
            font-size: 18px
    .about
        &__description
            max-width: 482px
        &__img
            max-width: 424px
    .location
        &__img
            margin-top: 50px
    .offer
        &__title
            font-size: 36px
        &__description
            margin-top: 32px
            font-size: 18px
    .content
        padding-top: 150px
        &__wrapper
            & > h2
                font-size: 36px
            & > p
                font-size: 18px
            & > img
                margin-top: 36px
    .navigation-blocks
        margin: 54px 50px 0
        &__item
            padding: 26px 38px
            min-height: 240px
        &__text
            max-height: 43px
            font-size: 36px
    .team
        &__item
            max-width: 205px
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 32px
    .media
        margin-top: 46px
        &--md
            .media__item
                &:nth-child(n + 4)
                    margin-top: 42px
        &__item
            padding: 24px
            min-height: 198px
        &__text
            max-height: 48px
            font-size: 20px
    .information
        margin-top: 50px
        &__list
            max-width: 345px
        &__link
            font-size: 18px
        &__content
            margin-left: 56px
    .rivers
        &__img
            margin-left: auto
            max-width: 462px
        &__body
            margin-bottom: 72px
            max-width: 703px
        &__item
            width: 950px
            &--olenka
                top: 225px
                & > .rivers__dot
                    margin-left: 95px
            &--lumbovka
                top: 470px
                & > .rivers__dot
                    margin-left: 270px
            &--kachkovka
                top: 522px
                & > .rivers__dot
                    margin-left: 268px
    .tabs
        &__wrapper
            & > svg,
            & > img
                max-width: 540px
            & > * + p
                margin-left: 70px
            & > p
                max-width: 333px
        &__body
            margin-top: 40px
        &__wrapper,
        &__body
            & > p
                font-size: 18px
    .lodge-plan
        max-width: 540px
        width: 100%
        &__num,
        &__text
            font-size: 16px
    
@media (min-width: 1024px)
    .dropdown
        &:hover
            .dropdown__list
                display: block
    .media
        &--md
            .media__item
                width: 30%
                &:nth-child(3n),
                &:nth-child(3n - 1)
                    margin-left: 5%
    .rivers
        &--mobile
            transform: translateY(calc(-100% - 72px))
    .lodge-plan
        &__list
            display: flex
            align-items: flex-start
            flex-direction: column
            flex-wrap: wrap
            max-height: 130px
            width: 100%
        &__item
            width: 65%
            &:nth-child(n + 5)
                width: 35%

@media (max-width: 1023px)
    .offer
        padding-top: 109px
        &__title
            max-width: 354px
            font-size: 30px
        &__description
            margin-top: 45px
            max-width: 354px
            font-size: 16px
    .icons
        &__item + &__item
            margin-left: 24px
        &__link
            svg
                width: 35px
                height: 35px
    .about
        &__wrapper + &__wrapper
            margin-top: 48px
        &__title
            font-size: 28px
        &__inner
            flex-direction: column
            margin-top: 20px
        &__description
            font-size: 16px
        &__right
            margin-top: 36px
            margin-left: 0
        &__img
            margin: 0 auto
            max-width: 437px
        &__help
            text-align: center
    .join-us
        &__title
            margin-bottom: 36px
            font-size: 30px
        &__subtitle
            font-size: 20px
        &__description
            max-width: 540px
            font-size: 15px
    .form-join
        &__inner
            flex-direction: column
        &__select
            &:last-child
                margin-top: 20px
                margin-left: 0
    .partners
        &__item
            flex-direction: column
        &__item + &__item
            margin-top: 80px
        &__img
            max-width: 80px
            min-width: 80px
        &__description
            margin-top: 40px
            margin-left: 0
            font-size: 14px
    .rivers
        &--mobile
            margin-top: 36px

@media (min-width: 768px) and (max-width: 1279px)
    .history
        margin: 68px 50px 0
        &__item
            &::before
                margin-right: 16px
                min-width: 62px
                min-height: 62px
                max-width: 62px
                max-height: 62px
        &__item:not(:last-child)
            &::after
                left: 31px
                height: calc(100% + 60px)
        &__item + &__item
            margin-top: 60px
        &__year
            margin-top: 31px
        &__description
            margin-left: 36px
    .team
        margin-top: 80px
        &__wrapper + &__wrapper
            margin-top: 80px

@media (min-width: 768px) and (max-width: 1023px)
    .offer
        &--start
            padding-bottom: 86px
        &__title
            font-size: 32px
        &__description
            margin-top: 20px
            font-size: 16px
    .contacts
        &__title
            font-size: 23px
        &__elem
            font-size: 18px
    .location
        &__img
            margin-top: 36px
    .navigation-blocks
        margin: 54px 0 0
        &__item
            padding: 20px 32px
            min-height: 200px
        &__text
            max-height: 43px
            font-size: 36px
    .history
        &__year
            font-size: 15px
        &__description
            font-size: 14px
    .team
        &__item
            max-width: 22%
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 4%
        &__img
            max-width: 90px
            min-width: 90px
        &__name
            margin-top: 20px
            font-size: 17px
        &__position
            margin-top: 14px
            font-size: 13px
    .media
        margin-top: 46px
        &--md
            .media__item
                width: 48%
                &:nth-child(2n)
                    margin-left: 4%
                &:nth-child(n + 3)
                    margin-top: 30px
        &__item
            padding: 24px
            min-height: 228px
        &__text
            max-height: 52px
            font-size: 22px
    .information
        margin-top: 34px
        &__list
            max-width: 262px
        &__link
            font-size: 18px
        &__content
            margin-left: 28px
    .rivers:not(.rivers--mobile)
        padding-top: 220px
        margin-top: 0
        min-height: 850px
    .rivers
        background-position: center left 40%
        &__wrapper
        &__img
            margin-left: auto
            margin-top: -90px
            margin-bottom: 0
            max-width: 350px
        &__item
            width: calc(100% - 80px)
            &--olenka
                top: 170px
                & > .rivers__dot
                    margin-left: 17%
            &--lumbovka
                top: 362px
                & > .rivers__dot
                    margin-left: 32%
            &--kachkovka
                top: 400px
                & > .rivers__dot
                    margin-left: 31%
    .tabs
        &__wrapper
            & > svg,
            & > img
                max-width: 404px
            & > * + p
                margin-left: 37px
            & > p
                max-width: 247px
        &__body
            margin-top: 30px
        &__wrapper,
        &__body
            & > p
                font-size: 15px
    .lodge-plan
        max-width: 404px
        width: 100%

@media (max-width: 767px)
    .logotype:not(.footer__logotype)
        max-width: 98px
    .offer
        &--start
            padding-bottom: 120px
        &__title
            font-size: 30px
        &__description
            margin-top: 22px
            font-size: 14px
    .contacts
        flex-direction: column
        &__wrapper
            max-width: 100%
        &__wrapper + &__wrapper
            margin-top: 30px
        &__title
            font-size: 20px
        &__elem
            font-size: 16px
    .location
        &__img
            margin-top: 32px
    .rivers:not(.rivers--mobile)
        min-height: 520px
        margin-top: 0
    .rivers
        &--mobile
            margin-top: 170px
        &__img
            position: absolute
            left: 50%
            bottom: -115px
            transform: translateX(-50%)
            margin: 0 auto
        &__title
            font-size: 36px
        &__description
            font-size: 14px
        &__item
            width: calc(100% - 50px)
            & > .rivers__dot span
                font-size: 14px
    .navigation-blocks
        &__item
            padding: 22px 30px
            width: 100%
            min-height: 200px
            &:nth-child(2n)
                margin-left: 0
        &__item + &__item
            margin-top: 20px
        &__text
            max-height: 38px
            font-size: 32px
    .history
        margin: 68px 0 0
        &__item
            &::before
                margin-right: 16px
                min-width: 48px
                min-height: 48px
                max-width: 48px
                max-height: 48px
        &__item:not(:last-child)
            &::after
                left: 24px
                height: calc(100% + 40px)
        &__item + &__item
            margin-top: 40px
        &__year
            margin-top: 24px
            font-size: 15px
        &__description
            margin-left: 36px
            font-size: 14px
    .team
        margin-top: 55px
        &__wrapper + &__wrapper
            margin-top: 90px
        &__item
            max-width: 50%
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 0
            &:nth-child(n + 3)
                margin-top: 60px
        &__img
            max-width: 90px
            min-width: 90px
        &__name
            margin-top: 20px
            font-size: 17px
        &__position
            margin-top: 14px
            font-size: 13px
    .media
        margin-top: 42px
        &--md
            .media__item
                width: 100%
            .media__item + .media__item
                margin-top: 30px
        &__item
            padding: 24px
        &__text
            max-height: 52px
            font-size: 22px
    .information
        flex-direction: column
        margin-top: 34px
        &__link
            font-size: 18px
        &__content
            margin-top: 26px
    .tabs
        &__inner
            align-items: flex-start
            flex-direction: column
        &__list
            margin-top: 21px
            margin-left: 0
        &__item + &__item
            margin-left: 46px
        &__button
            font-size: 22px
        &__content
            margin-top: 34px
        &__wrapper
            flex-direction: column
            & > svg
                width: 100%
                height: 100%
            & > * + p
                margin-top: 26px
                margin-left: 0
                max-width: 100%
        &__body
            margin-top: 32px
        &__wrapper,
        &__body
            & > p
                font-size: 14px
    .lodge-plan
        &__num,
        &__text
            font-size: 16px
            white-space: normal
        &__num
            margin-right: 12px
            max-width: 28px

@media (min-width: 576px) and (max-width: 1023px)
    .about  
        margin-top: 36px
    .content
        padding-top: 120px
        &__wrapper
            & > h2
                font-size: 32px
            & > p
                margin-top: 18px
                font-size: 16px
            & > img
                margin-top: 36px

@media (min-width: 576px) and (max-width: 767px)
    .navigation-blocks
        margin: 32px 40px 0
    .rivers
        &__item
            &--olenka
                top: 105px
                & > .rivers__dot
                    margin-left: 18%
            &--lumbovka
                top: 230px
                & > .rivers__dot
                    margin-left: 23%
            &--kachkovka
                top: 260px
                & > .rivers__dot
                    margin-left: 19%

@media (max-width: 575px)
    .offer
        justify-content: flex-start
        padding-top: 92px
        &__description
            margin-top: 25px
            max-width: 241px
    .about  
        margin-top: 30px
    .form-join
        &__btn
            &--details
                letter-spacing: 0.1em
    .content
        padding-top: 96px
        &__wrapper
            & > h2
                font-size: 30px
            & > p
                margin-top: 22px
                font-size: 14px
            & > img
                margin-top: 36px
    .navigation-blocks
        margin: 32px 0 0
    .rivers
        background-position: center left 30%
        &--mobile
            margin-top: 150px
        &__img
            max-width: calc(100% - 50px)
        &__item
            &--olenka
                top: 100px
                & > .rivers__dot
                    margin-left: 18%
                    span
                        &::after
                            left: -10px
                        &::before
                            left: -5px
            &--lumbovka
                top: 225px
                & > .rivers__dot
                    margin-left: -4%
                    span
                        &::after
                            left: auto
                            right: -10px
                            transform: translate(100%, -50%)
                        &::before
                            left: auto
                            right: -5px
                            transform: translate(100%, -50%)
            &--kachkovka
                top: 250px
                & > .rivers__dot
                    margin-left: -9%
                    span
                        &::after
                            left: auto
                            right: -10px
                            transform: translate(100%, -50%)
                        &::before
                            left: auto
                            right: -5px
                            transform: translate(100%, -50%)