@media (min-width: 1750px)
    .about
        margin-top: 66px
        &__description
            max-width: 700px
        &__img
            max-width: 583px
    .join-us
        &__block
            margin-left: 40px
            max-width: 431px

@media (min-width: 1280px) and (max-width: 1749px)
    .about
        &__description
            max-width: 555px
        &__img
            max-width: 518px
    .join-us
        &__block
            margin-left: 49px
            max-width: 363px

@media (max-width: 1279px)
    .join-us
        &__wrapper
            flex-direction: column-reverse
        &__description
            margin-top: 20px
    .form-join
        margin-top: 50px

@media (min-width: 1024px) and (max-width: 1749px)
    .about  
        margin-top: 50px

@media (min-width: 1024px) and (max-width: 1279px)
    .offer
        &__title
            font-size: 48px
        &__description
            margin-top: 54px
            max-width: 462px
            font-size: 18px
    .about
        &__description
            max-width: 482px
        &__img
            max-width: 424px
    
@media (min-width: 1024px)
    .dropdown
        &:hover
            .dropdown__list
                display: block

@media (max-width: 1023px)
    .offer
        padding-top: 109px
        &__title
            max-width: 354px
            font-size: 30px
        &__description
            margin-top: 45px
            max-width: 354px
            font-size: 15px
    .icons
        &__item + &__item
            margin-left: 24px
        &__link
            svg
                width: 35px
                height: 35px
    .about
        &__wrapper + &__wrapper
            margin-top: 48px
        &__title
            font-size: 28px
        &__inner
            flex-direction: column
            margin-top: 20px
        &__description
            font-size: 16px
        &__right
            margin-top: 36px
            margin-left: 0
        &__img
            margin: 0 auto
            max-width: 437px
        &__help
            text-align: center
    .join-us
        &__title
            margin-bottom: 36px
            font-size: 30px
        &__subtitle
            font-size: 20px
        &__description
            max-width: 540px
            font-size: 15px
    .form-join
        &__inner
            flex-direction: column
        &__select
            &:last-child
                margin-top: 20px
                margin-left: 0

@media (min-width: 576px) and (max-width: 1023px)
    .about  
        margin-top: 36px

@media (max-width: 575px)
    .logotype:not(.footer__logotype)
        max-width: 98px
    .offer
        justify-content: flex-start
        padding-top: 92px
        &__description
            margin-top: 25px
            max-width: 241px
    .about  
        margin-top: 30px