@media (hover: hover)
    .rivers
        &__dot
            &:hover
                & > span
                    color: $red-color
                    opacity: 1
                    &::after
                        background: transparent
                    &::before
                        border: 1px solid transparent
                & > svg
                    opacity: 1

@media (min-width: 1750px)
    .about
        margin-top: 66px
        &__description
            max-width: 700px
        &__img
            max-width: 583px
    .location
        &__content
            max-width: 674px
    .partners
        margin-right: 120px
        margin-left: 120px
    .media
        margin-top: 100px
        margin-right: 100px
        margin-left: 100px
        &__wrapper--md
            .media__item
                &:nth-child(n + 4)
                    margin-top: 50px
        &__wrapper--sm
            .media__item
                min-height: 212px
                &:nth-child(n + 6)
                    margin-top: 31px
        &__wrapper--leaderboard
            .media__item
                display: block
                padding: 0
                width: 29.5%
                min-height: auto
                height: 0
                padding-bottom: 29.5%
                &:nth-child(3n),
                &:nth-child(3n - 1)
                    margin-left: 5.75%
                &:nth-child(n + 4)
                    margin-top: 5.75%
    .information
        margin-top: 84px
        &__list
            max-width: 445px
        &__content
            margin-left: 76px
            width: calc(100% - 445px - 76px)
    .rivers
        &__body
            max-width: 800px
        &__item
            width: 1380px
    .reports
        &__item
            &:nth-child(n + 7)
                margin-top: 60px

@media (max-width: 1749px)
    .contacts
        &__wrapper
            max-width: 50%
            &:nth-child(2n)
                margin-left: 0

@media (min-width: 1280px)
    .media
        &__wrapper--sm
            .media__item
                padding: 18px 20px
                width: 18%
                &:nth-child(5n),
                &:nth-child(5n - 1),
                &:nth-child(5n - 2),
                &:nth-child(5n - 3)
                    margin-left: 2.5%

@media (min-width: 1280px) and (max-width: 1749px)
    .about
        &__description
            max-width: 555px
        &__img
            max-width: 518px
    .location
        &__content
            max-width: 494px
        &__img
            max-width: 528px
    .history
        &__item:not(:last-child)
            &::after
                height: calc(100% + 70px)
        &__item + &__item
            margin-top: 70px
    .team
        &__item
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 88px
    .media
        margin-top: 68px
        margin-right: 30px
        margin-left: 30px
        &__wrapper--md
            .media__item
                &:nth-child(n + 4)
                    margin-top: 48px
        &__wrapper--sm
            .media__item
                min-height: 192px
                &:nth-child(n + 6)
                    margin-top: 31px
        &__wrapper--leaderboard
            .media__item
                display: block
                padding: 0
                width: 32%
                min-height: auto
                height: 0
                padding-bottom: 32%
                &:nth-child(3n),
                &:nth-child(3n - 1)
                    margin-left: 2%
                &:nth-child(n + 4)
                    margin-top: 2%
            .media__content
                padding: 18px 20px
        &__item
            min-height: 220px
        &__text
            max-height: 52px
            font-size: 22px
    .information
        margin-top: 50px
        &__list
            max-width: 422px
            width: 100%
        &__content
            margin-left: 56px
            width: calc(100% - 422px - 56px)
    .tabs
        &__wrapper
            & > p
                max-width: 313px
    .rivers
        &__body
            max-width: 800px
        &__item
            width: 1130px
            &--olenka
                top: 178px
                & > .rivers__dot
                    margin-left: 100px
            &--lumbovka
                & > .rivers__dot
                    margin-left: 353px
            &--kachkovka
                top: 478px
                & > .rivers__dot
                    margin-left: 357px
    .reports
        &__item
            &:nth-child(n + 6)
                margin-top: 60px

@media (min-width: 1024px) and (max-width: 1749px)
    .about  
        margin-top: 50px
    .contacts
        &__title
            font-size: 26px
        &__elem
            font-size: 22px
    .navigation-blocks
        margin: 80px 32px 0
        &__item
            min-height: 320px
    .media
        &__wrapper--leaderboard
            .media__counter
                &::before
                    font-size: 125px
                &::after
                    font-size: 42px
    .partners
        margin-right: 60px
        &__description
            margin-left: 62px

@media (max-width: 1279px)
    .location
        &__wrapper
            flex-direction: column
        &__content
            max-width: 100%
        &__img
            margin: 0 auto
            max-width: 100%

@media (min-width: 1024px) and (max-width: 1279px)
    .offer
        &--start
            padding-bottom: 100px
        &__title
            font-size: 48px
        &__description
            margin-top: 54px
            max-width: 462px
            font-size: 18px
    .about
        &__description
            max-width: 482px
        &__img
            max-width: 424px
    .location
        &__img
            margin-top: 50px
    .offer
        &__title
            font-size: 36px
        &__description
            margin-top: 32px
            font-size: 18px
    .content
        padding-top: 150px
        &__wrapper
            & > h2
                font-size: 36px
            & > p
                font-size: 18px
            & > img
                margin-top: 36px
    .navigation-blocks
        margin: 54px 50px 0
        &__item
            padding: 26px 38px
            min-height: 240px
        &__text
            max-height: 43px
            font-size: 36px
    .team
        &__item
            max-width: 205px
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 32px
    .media
        margin-top: 46px
        &__wrapper--md
            .media__item
                &:nth-child(n + 4)
                    margin-top: 42px
        &__wrapper--sm
            .media__item
                padding: 18px 20px
                width: 22%
                min-height: 192px
                &:nth-child(4n),
                &:nth-child(4n - 1),
                &:nth-child(4n - 2)
                    margin-left: 4%
                &:nth-child(n + 5)
                    margin-top: 31px
        &__item
            padding: 24px
            min-height: 198px
        &__text
            max-height: 48px
            font-size: 20px
    .information
        margin-top: 50px
        &__list
            max-width: 345px
        &__link
            font-size: 18px
        &__content
            margin-left: 56px
            width: calc(100% - 345px - 56px)
            & > h4
                margin-bottom: 12px
                font-size: 14px
                &::before
                    margin-right: 11px
                    width: 20px
                    height: 23px
            & > h3
                margin-bottom: 12px
                font-size: 18px
            & > p
                font-size: 18px
            & > img
                margin: 36px auto 0
            & > img + *
                margin-top: 36px
    .rivers
        &__img
            margin-top: 40px
            margin-left: auto
            max-width: 460px
        &__body
            margin-bottom: 72px
            max-width: 703px
        &__item
            width: 950px
            &--olenka
                top: 180px
                & > .rivers__dot
                    margin-left: 10px
            &--lumbovka
                top: 431px
                & > .rivers__dot
                    margin-left: 264px
            &--kachkovka
                top: 479px
                & > .rivers__dot
                    margin-left: 268px
    .tabs
        &__button
            font-size: 23px
        &__wrapper
            & > svg,
            & > img
                max-width: 540px
            & > * + p
                margin-left: 70px
            & > p
                max-width: 333px
        &__body
            margin-top: 40px
        &__wrapper,
        &__body
            & > p
                font-size: 18px
    .lodge-plan
        max-width: 540px
        width: 100%
        &__link
            font-size: 18px
    .map
        height: 622px
    .reports
        &__wrapper + &__wrapper
            margin-top: 60px
        &__item
            padding-bottom: 130px
            margin-right: 35px
            width: 130px
            &:nth-child(n + 5)
                margin-top: 50px
        &__link
            padding: 6px 12px
            font-size: 18px
    .grid
        gap: 27px
    
@media (min-width: 1024px)
    .dropdown
        &:hover
            .dropdown__list
                display: block
    .media
        &__wrapper--md
            .media__item
                width: 30%
                &:nth-child(3n),
                &:nth-child(3n - 1)
                    margin-left: 5%
    .rivers
        &--mobile
            transform: translateY(calc(-100% - 72px))
    .lodge-plan
        &__list
            display: flex
            align-items: flex-start
            flex-direction: column
            flex-wrap: wrap
            max-height: 130px
            width: 100%
        &__item
            width: 70%
            &:nth-child(n + 5)
                width: 30%

@media (max-width: 1023px)
    .offer
        padding-top: 109px
        &--start
            background-image: none!important
        &__title
            max-width: 354px
            font-size: 30px
        &__description
            margin-top: 45px
            max-width: 354px
            font-size: 16px
    .icons
        &__item + &__item
            margin-left: 24px
        &__link
            svg
                width: 35px
                height: 35px
    .about
        &__wrapper + &__wrapper
            margin-top: 48px
        &__title
            font-size: 28px
        &__inner
            flex-direction: column
            margin-top: 20px
        &__description
            font-size: 16px
        &__right
            margin-top: 36px
            margin-left: 0
        &__img
            margin: 0 auto
            max-width: 437px
        &__help
            text-align: center
    .join-us
        &__title
            margin-bottom: 36px
            font-size: 30px
        &__subtitle
            font-size: 20px
        &__description
            max-width: 540px
            font-size: 15px
    .form-join
        &__inner
            flex-direction: column
        &__select
            &:last-child
                margin-top: 20px
                margin-left: 0
    .partners
        &__item
            flex-direction: column
        &__item + &__item
            margin-top: 80px
        &__img
            max-width: 80px
            min-width: 80px
        &__description
            margin-top: 40px
            margin-left: 0
            font-size: 14px
    .rivers
        &--mobile
            margin-top: 36px
    .rivers-tabs
        &__btn
            margin-top: 40px
            min-width: 100%
    .reports
        &__wrapper
            flex-direction: column
        &__wrapper + &__wrapper
            margin-top: 44px
        &__text
            margin-right: 0
            margin-bottom: 20px
        &__item
            padding-bottom: 130px
            width: 130px
            &:nth-child(n + 5)
                margin-top: 60px
        &__link
            padding: 6px 12px
            font-size: 18px

@media (min-width: 900px) and (max-width: 1023px)
    .rivers
        &__item
            &--olenka
                & > .rivers__dot
                    margin-left: -240px
            &--lumbovka
                & > .rivers__dot
                    margin-left: 130px
            &--kachkovka
                & > .rivers__dot
                    margin-left: 154px

@media (min-width: 768px) and (max-width: 1279px)
    .history
        margin: 68px 50px 0
        &__item
            &::before
                margin-right: 16px
                min-width: 62px
                min-height: 62px
                max-width: 62px
                max-height: 62px
        &__item:not(:last-child)
            &::after
                left: 31px
                height: calc(100% + 60px)
        &__item + &__item
            margin-top: 60px
        &__year
            margin-top: 31px
        &__description
            margin-left: 36px
    .team
        margin-top: 80px
        &__wrapper + &__wrapper
            margin-top: 80px
    .media
        &__wrapper--leaderboard
            .media__item
                display: block
                padding: 0
                width: 30%
                min-height: auto
                height: 0
                padding-bottom: 30%
                &:nth-child(3n),
                &:nth-child(3n - 1)
                    margin-left: 5%
                &:nth-child(n + 4)
                    margin-top: 5%
            .media__content
                padding: 18px 20px
    .reports
        &__img
            height: 700px
            background-position: center right 100%
    .report
        &__img
            height: 743px
        &__title
            font-size: 30px
        &__info
            margin-top: 24px
            span
                font-size: 18px
        &__right
            img + span
                margin-top: 20px
            span
                font-size: 18px
        &__content
            margin-top: 40px
            p
                font-size: 15px
            p + img,
            span + p,
            img + p
                margin-top: 32px
            img + span
                margin-top: 18px

@media (min-width: 768px) and (max-width: 1023px)
    .offer
        &--start
            padding-bottom: 86px
        &--main
            .offer__wrapper
                max-width: 90%
        &__title
            max-width: 100%
            font-size: 50px
        &__description
            margin-top: 20px
            max-width: 100%
            font-size: 20px
    .contacts
        &__title
            font-size: 23px
        &__elem
            font-size: 18px
    .location
        &__img
            margin-top: 36px
    .navigation-blocks
        margin: 54px 0 0
        &__item
            padding: 20px 32px
            min-height: 200px
        &__text
            max-height: 43px
            font-size: 36px
    .history
        &__year
            font-size: 15px
        &__description
            font-size: 14px
    .team
        &__item
            max-width: 22%
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 4%
        &__img
            max-width: 90px
            min-width: 90px
        &__name
            margin-top: 20px
            font-size: 17px
        &__position
            margin-top: 14px
            font-size: 13px
    .media
        margin-top: 46px
        &__wrapper--md
            .media__item
                width: 48%
                &:nth-child(2n)
                    margin-left: 4%
                &:nth-child(n + 3)
                    margin-top: 30px
        &__wrapper--sm
            .media__item
                padding: 18px 20px
                width: 30%
                min-height: 206px
                &:nth-child(3n),
                &:nth-child(3n - 1)
                    margin-left: 5%
                &:nth-child(n + 4)
                    margin-top: 32px
        &__wrapper--leaderboard
            .media__counter
                &::before
                    font-size: 92px
                &::after
                    font-size: 30px
        &__item
            padding: 24px
            min-height: 228px
        &__text
            max-height: 52px
            font-size: 22px
        &__btn
            margin: 60px auto 0
            min-width: 100%
    .media-filter
        margin-bottom: 30px
        &__clear
            font-size: 22px
    .information
        margin-top: 34px
        &__list
            max-width: 262px
        &__link
            font-size: 18px
        &__content
            margin-left: 28px
            width: calc(100% - 262px - 28px)
            & > h4
                margin-bottom: 12px
                font-size: 12px
                &::before
                    margin-right: 11px
                    width: 20px
                    height: 23px
            & > h3
                margin-bottom: 12px
                font-size: 18px
            & > p
                font-size: 14px
            & > img
                margin: 36px auto 0
            & > img + *
                margin-top: 36px
    .rivers:not(.rivers--mobile)
        padding-top: 220px
        margin-top: 0
        min-height: 850px
    .rivers
        background-position: center left 40%
        &__wrapper
        &__img
            margin-left: auto
            margin-top: -90px
            margin-bottom: 0
            max-width: 350px
        &__item
            width: fit-content
            &--olenka
                top: 139px
            &--lumbovka
                top: 334px
            &--kachkovka
                top: 369px
    .tabs
        &__button
            font-size: 23px
        &__wrapper
            & > svg,
            & > img
                max-width: 404px
            & > * + p
                margin-left: 37px
            & > p
                max-width: 247px
            & > ul li
                font-size: 16px
        &__body
            margin-top: 30px
        &__wrapper,
        &__body
            & > p
                font-size: 15px
    .lodge-plan
        max-width: 404px
        width: 100%
        &__link
            font-size: 18px
    .map
        height: 490px
    .places
        &__content
            margin-left: 60px
        &__text
            font-size: 16px
        &__value
            font-size: 20px
    .reports
        &__slider
            margin: 60px 0 34px
            .swiper-container
                margin: 0 auto
                max-width: 528px
        &__year
            font-size: 38px
        &__buttons
            max-width: 100%
            .swiper-button-prev-unique,
            .swiper-button-next-unique
                width: 42px
                height: 34px
        &__item
            padding-bottom: 20%
            width: 20%
            &:nth-child(4n)
                margin-right: 0
            &:nth-child(n + 5)
                margin-top: 30px
    .location
        &__inner
            margin-top: 40px
        &__title
            font-size: 34px
    .grid
        gap: 22px

@media (min-width: 768px) and (max-width: 899px)
    .rivers
        &__item
            &--olenka
                & > .rivers__dot
                    margin-left: -220px
            &--lumbovka
                & > .rivers__dot
                    margin-left: 160px
            &--kachkovka
                & > .rivers__dot
                    margin-left: 182px

@media (min-width: 768px)
    .contacts
        &__wrapper
            &:nth-child(n + 3)
                margin-top: 20px
    .media-filter
        &__clear
            margin-left: 12px
    .information
        &__mobile
            display: none

@media (max-width: 767px)
    .logotype:not(.footer__logotype)
        max-width: 98px
    .offer
        padding-bottom: 30px
        &--main
            background-position: center center
        &--start
            padding-bottom: 120px
        &__title
            font-size: 36px
        &__description
            margin-top: 22px
            font-size: 16px
    .contacts
        flex-direction: column
        &__wrapper
            max-width: 100%
        &__wrapper + &__wrapper
            margin-top: 30px
        &__title
            font-size: 20px
        &__elem
            font-size: 16px
    .location
        &__img
            margin-top: 32px
    .rivers:not(.rivers--mobile)
        min-height: 520px
        margin-top: 0
    .rivers
        &--mobile
            margin-top: 170px
        &__img
            position: absolute
            left: 50%
            bottom: -115px
            transform: translateX(-50%)
            margin: 0 auto
        &__title
            font-size: 36px
        &__description
            font-size: 14px
        &__item
            width: calc(100% - 50px)
            & > .rivers__dot span
                font-size: 14px
    .join-us
        margin-top: 80px
    .navigation-blocks
        &__item
            padding: 22px 30px
            width: 100%
            min-height: 200px
            &:nth-child(2n)
                margin-left: 0
        &__item + &__item
            margin-top: 20px
        &__text
            max-height: 38px
            font-size: 32px
    .history
        margin: 68px 0 0
        &__item
            &::before
                margin-right: 16px
                min-width: 48px
                min-height: 48px
                max-width: 48px
                max-height: 48px
        &__item:not(:last-child)
            &::after
                left: 24px
                height: calc(100% + 40px)
        &__item + &__item
            margin-top: 40px
        &__year
            margin-top: 24px
            font-size: 15px
        &__description
            margin-left: 36px
            font-size: 14px
    .team
        margin-top: 55px
        &__wrapper + &__wrapper
            margin-top: 90px
        &__item
            max-width: 50%
            &:nth-child(4n),
            &:nth-child(4n - 1),
            &:nth-child(4n - 2)
                margin-left: 0
            &:nth-child(n + 3)
                margin-top: 60px
        &__img
            max-width: 90px
            min-width: 90px
        &__name
            margin-top: 20px
            font-size: 17px
        &__position
            margin-top: 14px
            font-size: 13px
    .media
        margin-top: 42px
        &__wrapper--md
            .media__item
                width: 100%
            .media__item + .media__item
                margin-top: 30px
        &__wrapper--sm
            .media__item
                padding: 12px
                width: 47%
                min-height: 150px
                &:nth-child(2n)
                    margin-left: 6%
                &:nth-child(n + 3)
                    margin-top: 24px
            .media__text
                font-size: 12px
                max-height: 56px
        &__wrapper--leaderboard
            .media__item
                display: block
                padding: 0
                width: 46%
                min-height: auto
                height: 0
                padding-bottom: 46%
                &:nth-child(2n)
                    margin-left: 8%
                &:nth-child(n + 3)
                    margin-top: 8%
            .media__content
                padding: 14px
            .media__text
                font-size: 14px
                max-height: 32px
            .media__counter
                &::before
                    font-size: 66px
                &::after
                    font-size: 22px
        &__item
            padding: 24px
            min-height: 225px
        &__text
            max-height: 52px
            font-size: 22px
        &__btn
            margin: 30px auto 0
            min-width: 100%
    .media-filter
        flex-wrap: wrap
        margin-bottom: 24px
        &__select
            margin-right: auto
            &:last-child
                margin-right: 0
        &__clear
            margin-top: 14px
            width: 100%
            font-size: 20px
            text-align: left
    .information
        flex-direction: column
        margin-top: 34px
        &__list,
        &__content
            display: none
        &__mobile
            width: 100%
        &__mobile-item
            overflow: hidden
            margin-top: 24px
            transition: all 0.4s ease-in-out
        &__trigger
            display: block
            padding: 0
            font-size: 18px
            font-weight: bold
            text-align: left
            color: $super-light-color
            background: transparent
            border: 0
        &__mobile-content
            padding-top: 8px
            & > h4
                margin-bottom: 24px
                font-size: 12px
                &::before
                    margin-right: 11px
                    width: 20px
                    height: 23px
            & > h3
                margin-bottom: 10px
                font-size: 18px
            & > p
                font-size: 14px
                a
                    text-decoration: underline
            & > img
                margin: 24px auto 0
            & > img + *
                margin-top: 24px
    .tabs
        &__inner
            align-items: flex-start
            flex-direction: column
        &__list
            margin-top: 21px
            margin-left: 0
        &__item + &__item
            margin-left: 46px
        &__button
            margin-bottom: 0
            font-size: 22px
        &__content
            margin-top: 34px
        &__wrapper
            flex-direction: column
            & > svg
                width: 100%
                height: 100%
            & > * + p
                margin-top: 26px
                margin-left: 0
                max-width: 100%
            & > * + ul
                margin-top: 32px
                margin-left: 0
            & > ul li
                font-size: 16px
        &__body
            margin-top: 32px
        &__wrapper,
        &__body
            & > p
                font-size: 14px
    .lodge-plan
        &__link
            font-size: 16px
            white-space: normal
        &__num
            margin-right: 12px
            max-width: 28px
    .map
        height: 370px
    .places
        flex-direction: column
        &__content
            margin-top: 44px
            margin-left: 0
        &__group + &__group
            margin-top: 20px
        &__text
            font-size: 16px
        &__value
            font-size: 20px
    .reports
        &__img
            height: 536px
            background-position: center right 100%
        &__slider
            margin: 32px 0
            .swiper-container
                margin: 0 auto
                max-width: 75%
        &__year
            font-size: 22px
            text-align: center
        &__buttons
            max-width: 100%
            .swiper-button-prev-unique,
            .swiper-button-next-unique
                width: 26px
                height: 18px
        &__wrapper + &__wrapper
            margin-top: 36px
        &__text
            margin-bottom: 18px
            font-size: 14px
        &__item
            padding-bottom: 30%
            margin-right: 5%
            width: 30%
            &:nth-child(3n)
                margin-right: 0
            &:nth-child(n + 4)
                margin-top: 20px
        &__link
            padding: 6px 10px
            font-size: 13px
    .report
        padding-top: 110px
        &__img
            height: 558px
        &__wrapper
            flex-direction: column
        &__title
            font-size: 30px
        &__title + &__title
            font-size: 18px
        &__left
            width: 100%
        &__info
            margin-top: 30px
            span
                font-size: 18px
        &__right
            margin-top: 20px
            margin-left: 0
            width: 100%
            span
                font-size: 16px
                &::before
                    margin-top: 1px
            img
                border-radius: 12px
        &__content
            margin-top: 30px
            p
                font-size: 14px
            img
                border-radius: 12px
            p + img,
            span + p,
            img + p
                margin-top: 24px
            img + span
                margin-top: 18px
            span
                margin-left: 0
                font-size: 16px
                &::before
                    margin-top: 1px
    .location
        &__inner
            margin-top: 40px
        &__title
            font-size: 28px
    .grid
        gap: 20px

@media (min-width: 576px) and (max-width: 1023px)
    .about
        margin-top: 36px
    .content
        padding-top: 120px
        &__wrapper
            & > h2
                font-size: 32px
            & > p
                margin-top: 18px
                font-size: 16px
            & > img
                margin-top: 36px

@media (min-width: 576px) and (max-width: 767px)
    .navigation-blocks
        margin: 32px 40px 0
    .rivers
        &__item
            width: fit-content
            &--olenka
                top: 100px
                & > .rivers__dot
                    margin-left: -224px
                    svg
                        width: 36px
                        height: 48px
            &--lumbovka
                top: 202px
                & > .rivers__dot
                    margin-left: -90px
                    svg
                        width: 92px
                        height: 44px
            &--kachkovka
                top: 225px
                & > .rivers__dot
                    margin-left: -12px
                    svg
                        width: 74px
                        height: 36px

@media (max-width: 575px)
    .offer
        padding-top: 92px
        &__description
            margin-top: 25px
            max-width: 241px
    .about  
        margin-top: 30px
    .form-join
        &__subtitle
            font-size: 22px
        &__btn
            &--details
                letter-spacing: 0.1em
    .content
        padding-top: 96px
        &__wrapper
            & > h2
                font-size: 30px
            & > p
                margin-top: 22px
                font-size: 14px
            & > img
                margin-top: 36px
    .navigation-blocks
        margin: 32px 0 0
    .rivers
        background-position: center left 40%
        &--mobile
            margin-top: 150px
        &__img
            max-width: calc(100% - 50px)
        &__item
            width: fit-content
            &--olenka
                top: 100px
                & > .rivers__dot
                    margin-left: -100px
                    svg
                        width: 36px
                        height: 48px
            &--lumbovka
                top: 206px
                & > .rivers__dot
                    margin-left: -15px
                    svg
                        width: 92px
                        height: 44px
                    span
                        margin-left: 0
                        &::after
                            left: auto
                            right: -10px
                            transform: translate(100%, -50%)
                        &::before
                            left: auto
                            right: -5px
                            transform: translate(100%, -50%)
            &--kachkovka
                top: 230px
                & > .rivers__dot
                    margin-left: 6px
                    svg
                        width: 74px
                        height: 36px
                    span
                        margin-left: 0
                        &::after
                            left: auto
                            right: -10px
                            transform: translate(100%, -50%)
                        &::before
                            left: auto
                            right: -5px
                            transform: translate(100%, -50%)
        &__dot
            svg
                display: none
    .report
        &__inner--heading
            align-items: flex-start
            flex-direction: column
        &__title
            font-weight: 500
        &__title + &__title
            margin-top: 10px

@media (max-width: 459px)
    .rivers
        &__item
            &--kachkovka
                & > .rivers__dot
                    margin-left: 18px

@media (max-width: 399px)
    .rivers
        &__item
            &--olenka
                & > .rivers__dot
                    margin-left: -90px
            &--kachkovka
                & > .rivers__dot
                    margin-left: 26px

@media (max-width: 369px)
    .rivers
        &__item
            &--lumbovka
                & > .rivers__dot
                    margin-left: 15px
            &--kachkovka
                & > .rivers__dot
                    margin-left: 32px

@media screen and (min-width: 320px)
    .grid
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr))
    .grid .span-h
        grid-column: span 2
    .grid .span-v
        grid-row: span 2