.ss-main .ss-single-selected
    padding: 23px 24px
    height: 100%
    font-size: 20px
    font-weight: normal
    color: $super-light-color
    background: rgba($white-color, 0.15)
    border: 3px solid transparent
    border-radius: 10px

.ss-main .ss-single-selected .ss-arrow span
    padding: 5px
    border: solid rgba($white-color, 0.2)
    border-width: 0 3px 3px 0

.ss-main .ss-single-selected.ss-open-below,
.ss-main .ss-single-selected.ss-open-above
    border-radius: 10px

.ss-main .ss-single-selected.ss-open-below + *
    margin-top: 7px

.ss-main .ss-single-selected.ss-open-above + *
    transform: scale(1) translateY(-7px)

.ss-content .ss-search
    display: none

.ss-content
    z-index: 99!important
    color: $super-light-color
    background: #526169
    border: 0
    border-radius: 10px

.ss-content .ss-list
    padding: 12px 0
    max-height: 244px

.ss-content .ss-list .ss-option
    padding: 10px 24px
    font-size: 20px
    font-weight: 300
    color: $super-light-color
    transition: all 0.4s

.ss-content .ss-list .ss-option.ss-disabled:not(.ss-option-selected)
    display: none

.ss-content .ss-list .ss-option.ss-disabled
    color: inherit
    background: none
    cursor: pointer

.ss-content .ss-list .ss-option:hover, .ss-content .ss-list .ss-option.ss-highlighted
    opacity: 0.7
    color: $super-light-color
    background: none

.ss-arrow .arrow-down
    width: auto
    height: auto
    background: none