@import "config" // Always at the beginning
@import "select"
@import "header"
@import "gallery"
@import "footer"
@import "popup"

// offer
.offer
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding-top: 133px
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
    background-blend-mode: multiply
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    &--start
        justify-content: flex-start
        height: auto
        padding-bottom: 147px
    &__title
        max-width: 835px
        font-size: 60px
        font-weight: 500
    &__description
        margin-top: 70px
        max-width: 500px
        font-size: 20px
        line-height: 150%
        color: $grey-color
    &__arrow-down
        position: absolute
        bottom: 50px
        left: 50%
        transform: translateX(-50%)

// dropdown
.dropdown
    position: relative
    &__list
        position: absolute
        display: none
        padding: 14px
        background: $red-color
        border-radius: 9px
    &__link
        font-size: 18px
        font-weight: 500
        line-height: 130%
        &:hover
            opacity: 0.5

// icons
.icons
    &__list
        display: flex
        align-items: center
    &__item + &__item
        margin-left: 30px
    &__link
        &:hover
            opacity: 0.7

// about
.about
    &__wrapper + &__wrapper
        margin-top: 140px
    &__title
        font-size: 37px
        font-weight: 300
    &__inner
        display: flex
        justify-content: space-between
        margin-top: 36px
    &__description
        font-size: 18px
        font-weight: normal
        line-height: 160%
    &__right
        margin-left: auto
    &__img
        position: relative
        overflow: hidden
        width: 100%
        border-radius: 24px
    &__help
        display: block
        margin-top: 26px
        font-size: 16px
        color: $light-blue-color
    &__btn
        margin: 47px auto 0

// join us
.join-us
    margin-top: 110px
    &__title
        margin-bottom: 55px
        font-size: 46px
        font-weight: 300
    &__subtitle
        margin-bottom: 36px
        font-size: 29px
        font-weight: 300
        line-height: 130%
        color: $super-light-color
    &__description
        margin-top: 36px
        max-width: 427px
        font-size: 20px
        font-weight: 300
        line-height: 150%
        color: $super-light-color
        a
            color: $white-color

.form-join
    overflow: hidden
    visibility: visible
    max-width: 913px
    max-height: 100vh
    width: 100%
    transition: all 0.4s
    &--hidden
        visibility: hidden
        max-height: 0
    &__input
        width: 100%
    &__input + &__input,
    &__input + &__inner,
    &__inner + &__input
        margin-top: 20px
    &__inner
        display: flex
        align-items: center
    &__select
        &:last-child
            margin-left: 20px
    &__message
        display: block
        padding: 8px 24px
        margin-top: 20px
        color: $orange-color
    &__checkbox
        margin-top: 20px
    &__btn
        margin-top: 30px
        &--hidden
            display: none

// contacts
.contacts
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin-top: 90px
    &__wrapper
        max-width: 491px
        width: 100%
        &:nth-child(2n)
            margin-left: 85px
    &__title
        font-size: 30px
        font-weight: 300
        line-height: 190%
    &__elem
        display: block
        font-size: 24px
        font-weight: normal
        line-height: 190%
        a
            display: inline

// location
.location
    padding-top: 66px
    &__wrapper
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__content
        width: 100%
    &__title
        font-size: 37px
    &__description
        margin-top: 36px
        font-size: 18px
        line-height: 160%
    &__img
        margin-top: 72px
        max-width: 606px
    &__inner
        display: flex
        align-items: center
        justify-content: space-around
        margin-top: 160px

// rivers
.rivers
    position: relative
    padding-top: 133px
    min-height: 1100px
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    &--mobile
        padding-top: 0
        margin-top: 0
        min-height: 100%
    &__img
        overflow: hidden
        margin-top: 100px
        margin-left: auto
        max-width: 513px
        width: 100%
        border-radius: 24px
        box-shadow: 0px 13.028px 26.056px 8.68533px rgba(0, 0, 0, 0.25)
    &__title
        max-width: 542px
        font-size: 50px
        font-weight: 500
        color: $white-color
    &__description
        margin-top: 36px
        font-size: 15px
        line-height: 150%
        color: $grey-color
    &__item
        position: absolute
        left: 50%
        transform: translateX(-50%)
        z-index: 1
    &__item
        &--olenka
            top: 225px
            & > .rivers__dot
                margin-left: 305px
        &--lumbovka
            top: 470px
            & > .rivers__dot
                margin-left: 485px
                span
                    margin-top: -5px
                    margin-left: 15px
        &--kachkovka
            top: 520px
            & > .rivers__dot 
                margin-left: 482px
                span
                    margin-top: 15px
                    margin-left: -20px
    &__dot
        display: flex
        align-items: flex-start
        width: fit-content
        & > svg
            opacity: 0
            transition: opacity 0.4s
        & > span
            position: relative
            display: block
            font-size: 20px
            transition: color 0.4s, opacity 0.4s
            &::after
                content: ''
                position: absolute
                top: 50%
                left: -17px
                transform: translate(-100%, -50%)
                display: block
                width: 12px
                height: 12px
                background: $super-light-color
                border-radius: 50%
                transition: background 0.4s
            &::before
                content: ''
                position: absolute
                top: 50%
                left: -12px
                transform: translate(-100%, -50%)
                display: block
                width: 22px
                height: 22px
                border: 1px solid $super-light-color
                border-radius: 50%
                transition: border 0.4s

// content
.content
    padding-top: 190px
    &__wrapper
        & > h2
            font-size: 60px
            font-weight: 500
        & > p
            margin-top: 28px
            max-width: 1125px
            font-size: 24px
            line-height: 190%
        & > img
            overflow: hidden
            margin-top: 48px
            width: 100%
            border-radius: 24px

// navigation blocks
.navigation-blocks
    display: flex
    flex-wrap: wrap
    margin: 80px 100px 0
    &__item
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-end
        overflow: hidden
        padding: 46px 53px
        width: 48%
        min-height: 345px
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        border-radius: 24px
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: 1
            display: block
            width: 100%
            height: 100%
            border: 7px solid transparent
            border-radius: 24px
            transition: border 0.4s
        &::after
            content: ''
            display: block
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: 0
            width: 100%
            height: 100%
            background: linear-gradient(to top, #3E5D81 20.91%, rgba(255, 255, 255, 0) 89.2%)
            mix-blend-mode: multiply
            border-radius: 24px
            transition: opacity 0.4s
        &:hover
            &::before
                border: 7px solid $red-color
        &:nth-child(2n)
            margin-left: 4%
        &:nth-child(n + 3)
            margin-top: 4%
    &__text
        position: relative
        z-index: 1
        overflow: hidden
        max-height: 72px
        font-size: 60px
        font-weight: 500
        text-align: right

// history
.history
    margin: 110px 120px 0
    &__item
        position: relative
        display: flex
        align-items: flex-start
        &::before
            content: ''
            display: block
            margin-right: 33px
            min-width: 96px
            min-height: 96px
            max-width: 96px
            max-height: 96px
            background: #445D69
            border-radius: 50%
    &__item:not(:last-child)
        &::after
            content: ''
            position: absolute
            top: 0
            left: 48px
            display: block
            width: 2px
            height: calc(100% + 225px)
            background: #445D69
    &__item + &__item
        margin-top: 225px
    &__year
        display: block
        transform: translateY(-50%)
        margin-top: 48px
        font-size: 24px
    &__description
        margin-left: 83px
        font-size: 20px
        line-height: 190%

// partners
.partners
    margin-top: 60px
    &__item
        display: flex
        align-items: flex-start
    &__item + &__item
        margin-top: 90px
    &__img
        min-width: 104px
        max-width: 104px
    &__description
        margin-left: 111px
        font-size: 20px

// team
.team
    margin-top: 90px
    &__wrapper + &__wrapper
        margin-top: 140px
    &__title
        margin-bottom: 68px
        font-size: 37px
        font-weight: 500
    &__list
        display: flex
        flex-wrap: wrap
    &__item
        display: block
        max-width: 215px
        width: 100%
        text-align: center
        &:nth-child(4n),
        &:nth-child(4n - 1),
        &:nth-child(4n - 2)
            margin-left: 150px
        &:nth-child(n + 5)
            margin-top: 90px
    &__img
        overflow: hidden
        margin: 0 auto
        max-width: 130px
        min-width: 130px
        border-radius: 50%
    &__name
        display: block
        margin-top: 30px
        font-size: 24px
        font-weight: 500
    &__position
        display: block
        margin-top: 20px
        font-size: 18px

// media
.media
    display: flex
    flex-wrap: wrap
    &__item
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-end
        overflow: hidden
        padding: 30px
        min-height: 240px
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        border-radius: 24px
        &::before
            content: ''
            display: block
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: 0
            width: 100%
            height: 100%
            background: linear-gradient(to top, #3E5D81 20.91%, rgba(255, 255, 255, 0) 89.2%)
            mix-blend-mode: multiply
        &:hover
            color: $dark-color
            &::before
                background: linear-gradient(to top, #F93C00 0%, rgba(255, 255, 255, 0) 78.11%)
                mix-blend-mode: normal
    &__text
        position: relative
        z-index: 1
        display: block
        overflow: hidden
        font-size: 24px
        max-height: 56px

// travel information
.information
    display: flex
    align-items: flex-start
    &__item + &__item
        margin-top: 26px
    &__link
        font-size: 22px
        font-weight: bold

// tabs
.tabs
    &__inner,
    &__list
        display: flex
        align-items: center
    &__title
        font-size: 60px
        font-weight: 300
    &__list
        margin-left: 60px
    &__item
        &--active
            .tabs__button
                color: $red-color
                border-bottom: 1px solid transparent
    &__item + &__item
        margin-left: 25px
    &__button
        display: block
        padding: 0
        font-size: 32px
        font-weight: 500
        color: $super-light-color
        background: transparent
        border: 0
        border-bottom: 1px solid $super-light-color
        transition: all 0.4s
    &__content
        display: none
        margin-top: 48px
        &--active
            display: block
    &__wrapper
        display: flex
        align-items: flex-start
        & > svg,
        & > img
            max-width: 700px
            width: 100%
            height: 100%
        & > * + p
            margin-left: 116px
        & > p
            max-width: 446px
            width: 100%
            font-size: 20px
            line-height: 150%
    &__body
        margin-top: 70px
        & > p
            font-size: 24px
            line-height: 150%

// lodge
.lodge-plan
    & > svg
        width: 100%
        height: 100%
    &__list
        margin-top: 40px
    &__item
        display: flex
        align-items: center
        cursor: pointer
    &__num,
    &__text
        display: block
        font-size: 20px
        line-height: 150%
        white-space: nowrap
    &__num
        margin-right: 15px
        max-width: 34px
        width: 100%
        color: $red-color

@import "media" // Always at the end